.not-found__status-wrapper {
  position: relative;
  z-index: 1;
  width: auto;
  margin-top: 16.7vh;
  margin-right: auto;
  margin-left: auto;
  padding-top: 62px;
  text-align: center;
}

.not-found__status-title {
  color: #4481c3;
}

.not-found__button-back {
  margin-top: 20px;
}
